@import '../../scss/main.scss';

.title-quote{
    color: $color-primary;
    font-family: $font-primary;
    font-size: 12PX;
    font-weight:500;
    margin: 20px 0;
    align-self: start;
    justify-self: center;
    position: absolute;
    letter-spacing: 3px;
}