@import "./scss/main.scss";

main{
    display: grid;
    height: 100vh;
    width: 100%;
}

.main--title{
    position: absolute;
    justify-self: center;
    font-family: $font-primary;
    color: $color-quote;
    font-size: $font-size-medium;
    margin-top: 5%;
}

.attribution{
    position: absolute;
    justify-self: center;
    align-self: self-end;
    font-family: $font-primary;
    color: $color-white;
    font-size: $font-size-small;
    a{
        color: $color-white;
        &:hover{
            color: $color-quote;
        }
    }
}