@import "./variables/colors-primary";
@import "./variables/layout";
@import "./variables/padding";
@import "./variables/typography";

body {
  background-color: $color-background;
  margin: 0;
  padding: 0;
}