@import "./variables/colors-primary";
@import "./variables/layout";
@import "./variables/padding";
@import "./variables/typography";
@import "./variables/desktop";

body {
  background-color: $color-dark-blue;
  margin: 0;
  padding: 0;
}