$color-primary: hsl(150, 100%, 66%);
$color-quote: hsl(193, 38%, 86%);
$color-box: hsla(218, 14%, 47%, 0.418);
$color-background: hsl(236, 29%, 20%);
$color-dark-blue: hsl(218, 23%, 16%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
